<%- include("header") -%>

    <h1 id = "aboutTitle">About:</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget felis eget nunc lobortis. At auctor urna nunc id cursus metus aliquam eleifend. In fermentum et sollicitudin ac.</p>

<%- include("footer") -%>